/***** BASE STYLES *****/
body {
    font-family: 'Montserrat';
    color: #c0c0c0; 
}	
/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
    margin: 0 auto;
    overflow: auto;
    float: left;
}

.third-width {
    width: 400px;
    margin: 0 auto;
    overflow: auto;
    float: left;
}

/***** Header *****/

header {
    height: 350px; 
    background: url('../img/hero.png'); 
    background-size: cover;
    background-position: center;
    border-bottom: solid 2px #c0c0c0;
}

header h1 { 
    padding: 65px 0px 40px 10px;
    font-size: 30px; 
    font-family: "Montserrat";
    color: #f8f8ff;
}

nav {
    float: right; 
    padding: 65px 15px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    text-transform: none;  
    font-size: 30px;
    padding-left: 50px; 
    color: #f8f8ff; 

}
header h2 {
    width: .full-width; 
    clear: both; 
    font-size: 55px; 
    line-height:5px;  
    padding: 0px 0 20px 15px;
    color: #f8f8ff; 
}


/***** About *****/

#about {
    color: #e0e0eb;
    height: 450px; 
    background: #f8f8ff;
} 

#about h2 {
    font-family: 'Montserrat';
    font-size: 36px;
    color: #737373;
    padding-top: 40px; 
}

#about p {
    font-family: "Lora";
    font-size: 21px;
    color: #808080;
    line-height: 40px;
    padding-right: 80px;
    text-align: justify;
    margin-right: 20px; 
}

#about img#about-img {
    margin-top: 100px;
    border: 5px solid #737373;
    margin-left: 100px;
}

/***** Portfolio *****/

#portfolio {
    height: 550px; 
    background: #f8f8ff;
}

#portfolio h2 {
    color: #737373;
    font-size: 36px;
    padding-top: 70px; 
}

#portfolio p {
    color: #808080;
    font-family: 'Lora';
    font-size: 21px;
    text-align:justify;
    margin-right: 100px; 
    line-height: 40px 
}

#portfolio img#recipe-img {
    margin-top: 130px;
    margin-left: 100px;
    border: 5px solid #737373;
}

/***** Contact *****/

#contact {
    background-color: #f8f8ff;;
    padding: 25px 0;
    border-bottom: solid 2px #c0c0c0; 
    border-top: solid 2px #c0c0c0;
    height: 250px;
}

#contact h2 {
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 44px;
    color:#f8f8ff;
    text-align: center;
}

#contact h3 {
    font-family: 'Montserrat';
    font-size: 21px;
    line-height: 40px;
    text-decoration: none;
    color: #f8f8ff;
}

#contact h4 {
    font-family: 'Montserrat';
    font-size: 21px;
    line-height: 25px;
    text-decoration: none;
    color: black;
}

#contact p {
    font-family: 'Lora';
    font-size: 21px;
    line-height: 40px;
    text-decoration: none;
    color: black;
    margin-left: 110px;
    font-weight: bold;
}

#contact a {
    font-family: 'Lora';
    font-size: 21px;
    line-height: 40px;
    text-decoration: none;
    color:  #f8f8ff;
}

#contact ul {
    list-style: none;
    margin-left: 135px; 
}

#contact ul li {
     display: inline-block;
     padding-right: 5px;
     padding-left: 5px;
     color: #f8f8ff;
}


#contact #email-header {
    font-family: 'Montserrat';
    font-size: 21px;
    line-height: 40px;
    text-decoration: none;
    color: #f8f8ff;
    padding-left: 70px;

}

#contact #phone {
    font-family: 'Montserrat';
    font-size: 21px;
    line-height: 40px;
    text-decoration: none;
    color: #f8f8ff;
    margin-left: 120px;
}


#contact #socialmedia-header {
    font-family: 'Montserrat';
    font-size: 21px;
    line-height: 40px;
    text-decoration: none;
    color:#f8f8ff;
    margin-left: 150px;
}

#contact {
    padding: 10px;
    background: url('../img/hero.png'); 
}


/***** Footer *****/


